DATABASE_URL="postgresql://...-pooler.../neondb?sslmode=require"
DIRECT_URL="postgresql://...(sem -pooler).../neondb?sslmode=require"
JWT_SECRET="troque-isto"
FRONTEND_URL="http://localhost:3000"
PORT=3001
TZ="America/Sao_Paulo"
